{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="col-8">
  <div class="logo-container" style="display: flex; justify-content: center; margin:1%">
        <img width="20%" src="{% static 'images/logo_blue_Arabic.png' %}" alt="Logo" style="margin:0% 0%">
        <img width="20%" height="20%" src="{% static 'images/logo_blue_English.png' %}" alt="Logo" style="margin:0% 0%">
    </div>
    <form method="post" action="createOrder">
      {% csrf_token %}
  <div class="mb-3 form-control">
    <label for="company" class="form-label">اسم الشركة</label>
    <input type="text" class="form-control" id="company" name="company">
<!--    <span class="text-danger">danger</span>-->
  </div>
  <div class="mb-3 form-control">
    <label for="contactPerson" class="form-label">الممثل</label>
    <input type="text" class="form-control" id="contactPerson" name="contactPerson" placeholder="اسم الشخص الذي سيقوم بالتواصل" >
<!--    <span class="text-danger">danger</span>-->
  </div>
  <div class="mb-3 form-control">
    <label for="email" class="form-label">البريد الإلكتروني</label>
    <input type="email" class="form-control" id="email" name="email">
<!--    <span class="text-danger">danger</span>-->
  </div>
  <div class="mb-3 form-control">
    <label for="phone" class="form-label">رقم الجوال</label>
    <input type="text" class="form-control" id="phone" name="phone">
<!--    <span class="text-danger">danger</span>-->
  </div>
  <div class="mb-3 form-control">
    <label for="service" class="form-label">نوع الخدمة</label>
    <select name="service" id="service" class="form-select" aria-label="Default select example" >
      <option value="" disabled selected>الرجاء الاختيار</option>
      <option  value="campaigns">الحملات المتكاملة</option>
      <option value="socialMediaAccountsManagement">إدارة حسابات السوشال ميديا</option>
      <option value="Ads">الإعلانات الممولة</option>
      <option  value="express"><i class="fa-brands fa-instagram" style="color: #000000;padding:0px 5px 0px 5px" ></i> اكسبريس المشاهير </option>
    </select>
<!--    <span class="text-danger">danger</span>-->
  </div>
  <div class="mb-3 form-control">
    <label for="type" class="form-label">النوع</label>
    <select name="type" id="type" class="form-select" aria-label="Default select example" onChange="checkTypeOption()" >
      <option value="" disabled selected>الرجاء الاختيار</option>
      <option  value="restaurants">مطاعم</option>
      <option  value="ecommerce">تجارة إلكترونية</option>
      <option  value="apps">تطبيقات</option>
      <option  value="clinics">عيادات</option>
      <option  value="else">غيرها</option>

    </select>
<!--    <span class="text-danger">danger</span>-->
    <div id="elseTypeDiv" style="display: none; margin:10px 0px;">
    <input type="text" class="form-control" id="elseType" name="elseType" >
  </div>
  </div>
  <div class="mb-3 form-control">
    <label class="form-label">تاريخ الحملة المتوقع</label>
    <div>
      <label class="form-label">ابتداءاً من</label>
      <input type="date" id="start-date" name="start-date">
      <label for="number-of-days" class="from-label">عدد أيام الحملة</label>
      <input type="number" id="number-of-days" name="number-of-days" value="1" min="0">
    </div>


<!--    <input type="date" class="form-control" id="date" name="date" >-->
<!--    <span class="text-danger">danger</span>-->
  </div>
  <div class="mb-3 form-control">
    <label for="goal" class="form-label">الهدف من الحملة</label>
    <select name="goal" id="goal" class="form-select" aria-label="Default select example" onChange="checkServiceOption()">
      <option value="" disabled selected>الرجاء الاختيار</option>
      <option  value="sales">زيادة المبيعات</option>
      <option value="consciousness">زيادة الوعي ( الشركة أو منتج )</option>
    </select>
<!--    <span class="text-danger">danger</span>-->
        <div id="elseServiceDiv" style="display: none; margin:10px 0px;">
    <input type="text" class="form-control" id="elseService" name="elseService">
  </div>
  </div>
  <div style=" display:flex; justify-content:center; align-items:center; ">
      <button type="submit" class="btn btn-primary" style="background-color:#0f3460; border:none; color:#ebd129; width:50%;" >إرسال</button>
  </div>
</form>
</div>

<script>
  function checkTypeOption() {
    var select = document.getElementById("type");
    var selectedOption = select.value;
    var inputField = document.getElementById("elseTypeDiv");

    if (selectedOption === "else") {
      inputField.style.display = "block";
    } else {
      inputField.style.display = "none";
    }
  }


    function checkTypeOption() {
    var select = document.getElementById("goal");
    var selectedOption = select.value;
    var inputField = document.getElementById("elseServiceDiv");

    if (selectedOption === "else") {
      inputField.style.display = "block";
    } else {
      inputField.style.display = "none";
    }
  }

</script>
<script>
    var datepicker = new Datepicker(document.getElementById('date-range'), {
      format: 'yyyy-mm-dd',
      onSelect: function(selectedDate) {
        var fromDate = new Date(selectedDate);
        var toDate = new Date(selectedDate);
        toDate.setDate(toDate.getDate() + 1);
        document.getElementById('date-range').value = selectedDate + ' - ' + formatDate(toDate);
      }
    });

    function formatDate(date) {
      var year = date.getFullYear();
      var month = ('0' + (date.getMonth() + 1)).slice(-2);
      var day = ('0' + date.getDate()).slice(-2);
      return year + '-' + month + '-' + day;
    }

    flatpickr("#start_date", {
    // Customize the date picker options if needed
  });

  </script>

{% endblock %}