{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="col-8">
  <div class="logo-container" style="display: flex; justify-content: center; margin:1%;">
    <!-- <img width="20%" src="{% static 'images/logo_blue_Arabic.png' %}" alt="Logo" style="margin:0% 0%"> -->
    <!-- <img width="20%" height="20%" src="{% static 'images/logo_blue_English.png' %}" alt="Logo" style="margin:0% 0%"> -->
    <img width="130%" height="80px" src="{% static 'images/yellow_light_above.png' %}" alt="Logo" style="margin:0% 0%;"> 
</div>
  <div class="form-control">
      <h3>تم ارسال طلبكم بنجاح، سيتم التواصل معكم خلال 48 ساعة إن شاء الله . </h3>
      <br>
      <div style="text-align:center">
          <p>رقم الطلب</p>
          <p style="display:inline">{{id}}</p>
      </div>
  </div>
</div>

{% endblock %}