{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="col-8">
  <div class="logo-container" style="display: flex; justify-content: center;">
        <img width="20%" src="{% static 'images/logo_yellow_Arabic.png' %}" alt="Logo">
        <img width="20%" src="{% static 'images/logo_yellow_English.png' %}" alt="Logo">
    </div>
  <div class="form-control">
      <h3>تم ارسال طلبك بنجاح، سيتم التواصل خلال 48 ساعة</h3>
      <br>
      <div style="text-align:center">
          <p>رقم الطلب</p>
          <p style="display:inline">{{id}}</p>
      </div>
  </div>
</div>

{% endblock %}